body, html {
    background-color: #f2f8fd !important;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 60px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    margin-left: 60px;
    transition: margin-left .5s;
    padding-left: 5px;
    padding-right: 5px;
}

.sidenav-x {
    display: inline-block;
    cursor: pointer;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    margin-left: 10px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#menu-items {
    margin-left: 60px;
}

.row {
    padding: 10px;
}

#menu-div-title {
    position: absolute;
    margin: -10px;
    padding-left: 55px;
    font-size: 40px;
}

#menu-div {
    background-color: #c2e1f7;
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
    border-color: #F5F5F5;
}

.menu-label {
    width: 120px;
}

.node {
    cursor: pointer;
}

.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}